<template>
  <div class="<%= lowercaseName %>">
    <van-nav-bar :title="title" left-arrow @click-left="$router.back()" />
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { NavBar } from 'vant';

@Component({
  components: {
    [NavBar.name]: NavBar
  }
})
export default class <%= name %> extends Vue {

  title: string = '<%= title %>';

}
</script>
<style lang="scss" scoped>

</style>

